@font-face {
    font-family: 'MyFont';
    src: url('Resources/font.otf') format('truetype');
}
html{
    user-select: none;
    overflow: hidden; 
}

/* -----------------Player----------------- */

#Player {
    position: absolute;
    bottom: 40%;
    left: 15%;
    background-size: cover;

    z-index: 5;
}
.JumpAndRotate {
    transition: transform 1.4s ease-out;
    transform: rotate(360deg);
}
.Duck{
    background-image: url("Resources/output-onlinepngtools.png");
    width: 92px;
    height: 43px;   
}   
.Standing{
    background-image: url("Resources/dinosaur.png");
    height: 75px;
    width: 80px;
} 

/* ----------------------------------------------- */
#Video{
    position: fixed;
    right: 0px;
    top: 0px;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}
#Menu { 
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    font-family: 'MyFont';
    font-size: 70px;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
#Title{
    font-size: 6.25rem;
}

#StartButton ,#ResetGame{
  font-family: 'Press Start 2P';
  background-color: #f4c16d;
  color: #5a3a1b;
  border: 3px solid #8b5a2b;
  border-radius: 6px;
  padding: 12px 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 4px #8b5a2b;
}

#ResetGame{
    position: absolute;
    right: 20px;
    top: 20px;
}

#StartButton:hover ,#ResetGame:hover{
  transition: all 0.1s ease-in-out;
  background-color: #ffd98e;
  color: #3a1f0b;
  transform: translateY(-2px);
  box-shadow: 0 6px #8b5a2b;
}

#StartButton:active, #ResetGame:active {
  background-color: #e6b15e;
  transform: translateY(2px);
  box-shadow: 0 2px #8b5a2b;
}
#Game {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    bottom: 0%;
    visibility: hidden;
}

#Floor div {
    position: absolute;
    height: 48px;
    width: 80px;
    bottom: calc(40% - 39px);
    left: 15%;
    background-repeat: repeat-x;
    transition: width 1s ease-in;
}

#Floor div.FloorExpanded {
    width: 200vw;
}

