/*
 Z INDEX LIST:
    10      All buttons and Score
    9       Floor 
    8       Player
    7       Enemies
    6       Decor ( trees )
    5 -> 1  Background ( 5 different backgrounds )  parallax 


*/

@font-face {
    font-family: 'MyFont';
    src: url('Resources/Extra/font.otf') format('truetype');
}

html {
    user-select: none;
    overflow: hidden;
    image-rendering: pixelated;
}

/* -----------------Player----------------- */
#Player{
    background-color: aqua;
    z-index: 8 ;

}

#PlayerHitBox{
    position: absolute;
    bottom: calc(90px + 20px); /* 96px is the ground's height */
    left: calc(15% + 63px);
}
#PlayerHitBox.Standing {
    height: calc(40px * 2.5);  
    width: calc(60px * 3.2);   
}
#PlayerHitBox.JumpAndRotate{
    height: calc(40px * 2.5);  
    width: calc(60px * 3.2);   
    transition: transform 1.4s ease-out;
    transform: rotate(360deg);
}
#PlayerSprite{
    position: absolute;
    bottom: 96px;
    left: 15%; 
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 8;

}

#PlayerSprite.Standing {
    height: calc(40px * 5.5);  
    width: calc(60px * 5.5);   
    animation: run 3s infinite ;
}

#PlayerSprite.JumpAndRotate {
    background-image: url("Resources/Cloud/Cloud.png");
    height: calc(40px * 5.5);  
    width: calc(60px * 5.5);   
    transition: transform 1.4s ease-out;
    transform: rotate(360deg) ;
}

.Duck {
    width: calc(35px * 6.8); 
    height: calc(18px * 6.8) ; 
    animation: startduck 5.4s both;


}

@keyframes startduck {
    0% , 40% {background-image: url("Resources/Frames/Crouching (faceless)/CrouchRunningFrame1.png");}
    41% , 80% {background-image: url("Resources/Frames/Crouching (faceless)/CrouchRunningFrame2.png");}
    81% , 100% {background-image: url("Resources/DuckingFrame3.png");}

}
@keyframes run {
    0%,24%{background-image: url("Resources/Cloud/Running/NewRunningFrame1.png");}
    25%,49% {background-image: url("Resources/Cloud/Running/NewRunningFrame3.png");}
    50%,74% {background-image: url("Resources/Cloud/Running/NewRunningFrame2.png");}
    75%,100% {background-image: url("Resources/Cloud/Running/NewRunningFrame4.png");}

}

/* --------------------FLOOR------------------------- */

#Floor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(2304px * 5 );
    height: calc(96px);
    background-repeat: repeat-x;
    background-size: contain;
    background-position-x: 0;
    z-index: 9;
}

#Floor div.FloorExpanded {
    width: 2000px;
}  

/* ----------------------SCORE-------------------------- */

#Score{
    background-color: #ffd98e;
    font-size: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    min-width: 270px;
    padding: 8px;
    letter-spacing: 2px;
    border: 2px solid #8b5a2b;
    border-radius: 8px;    
    font-family: 'Myfont','Courier New', Courier, monospace;
    text-align: left;
    z-index: 10;

}

/* -----------------------Backrgound---------------------- */

.Background{
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    background-repeat: repeat-x;
    background-size: cover;
    background-position-x: 0;

} 
#Background1{
    background-image: url("Resources/Extra/Parallax Background/plx-1.png");
    z-index: 1;
}
#Background2{
    background-image: url("Resources/Extra/Parallax Background/plx-2.png");
    z-index: 2;
}
#Background3{
    background-image: url("Resources/Extra/Parallax Background/plx-3.png");
    z-index: 3;
}
#Background4{
    background-image: url("Resources/Extra/Parallax Background/plx-4.png");
    z-index: 4;
}
#Background5{
    background-image: url("Resources/Extra/Parallax Background/plx-5.png");
    z-index: 5;}

/* ---------------------------Enemies-------------------------- */
.Enemy{
    position: absolute;
    z-index: 7;
    height: 150px;
    width: 80px;
}
.Bird{
    background-color: aqua;
}

.LargeCactus{
    background-color: green;
}
.SmallCactus{
    background-color: lightgreen;
}

/* ---------------------------Video---------------------------- */

#Video {
    position: fixed;
    right: 0px;
    top: 0px;
    min-height: 100%;
    min-width: 100%;
    z-index: 0;

}

/* ---------------------------Menu---------------------------- */
#Menu {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    font-family: 'MyFont';
    font-size: 70px;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Title {
    font-size: 6.25rem;
    z-index: 10;
}

#StartButton,
#ResetGame {
    font-family: 'Press Start 2P';
    background-color: #f4c16d;
    color: #5a3a1b;
    border: 3px solid #8b5a2b;
    border-radius: 6px;
    padding: 12px 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 4px #8b5a2b;
    z-index: 10;
}

#ResetGame {
    position: absolute;
    right: 20px;
    top: 20px;  
}

#StartButton:hover,
#ResetGame:hover {
    transition: all 0.1s ease-in-out;
    background-color: #ffd98e;
    color: #3a1f0b;
    transform: translateY(-2px);
    box-shadow: 0 6px #8b5a2b;
}

#StartButton:active,
#ResetGame:active {
    background-color: #e6b15e;
    transform: translateY(2px);
    box-shadow: 0 2px #8b5a2b;
}
/* ------------------------------------------------------------ */
#Game {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    bottom: 0%;
    visibility: hidden;
}

